* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: hsl(0, 0%, 98%);
}

header {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}

header p {
  margin: 1rem 0 2rem;
}

h1 {
  font-weight: 400;
}

h1 span {
  font-weight: 600;
}

p {
  color: hsl(229, 6%, 66%);
  line-height: 1.5;
}

h3 {
  font-weight: 200;
}

.box-items-wrapper {
  max-width: 1120px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  /* background-color: darkgoldenrod; */
}

.box-items-wrapper > * {
  width: 300px;
  padding: 1rem;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 2px 1px 8px black;
  position: relative;
  overflow: hidden;
}

.box-items-wrapper > * P {
  font-size: 15px;
  margin: 0.5rem 0 2rem;
}

.box-items-wrapper > * img {
  display: block;
  margin-left: auto;
}

.box-items-wrapper > *::after {
  content: "";
  width: 100%;
  height: 5px;
  background-color: deeppink;
  position: absolute;
  top: 0;
  left: 0;
}

.box-one::after {
  background-color: hsl(180, 62%, 55%);
}

.box-two::after {
  background-color: hsl(0, 78%, 62%);
}

.box-three::after {
  background-color: hsl(212, 86%, 64%);
}

.box-four::after {
  background-color: hsl(34, 97%, 64%);
}

.box-one,
.box-three {
  transform: translateY(50%);
}
@media screen and (max-width: 700px) {
  .box-one,
  .box-three {
    transform: none;
  }
}
